{% extends 'base.html' %}

{% block content %}

<h1>🏋️ Exercícios</h1>

{% if mensagem %}
<div class="mensagem">{{ mensagem }}</div>
{% endif %}

<div class="card">
    <form method="post">
        {% csrf_token %}
        <input name="nome" placeholder="Nome"><br><br>
        <input name="descricao" placeholder="Descrição"><br><br>
        <button>Salvar</button>
    </form>
</div>

<div class="card">
{% for e in exercicios %}
    <div class="tarefa">
        <strong>{{ e.nome }}</strong><br>
        {{ e.descricao }}<br><br>

        <a href="/editar-exercicio/{{ e.id }}/">✏️</a> |
        <a href="/deletar-exercicio/{{ e.id }}/">❌</a>
    </div>
{% endfor %}
</div>

{% endblock %}