{% extends 'base.html' %}

{% block content %}

<h1>📋 Treinos</h1>

{% if mensagem %}
<div class="mensagem">{{ mensagem }}</div>
{% endif %}

<div class="card">
<form method="post">
    {% csrf_token %}

    <select name="aluno">
        {% for a in alunos %}
        <option value="{{ a.id }}">{{ a.nome }}</option>
        {% endfor %}
    </select><br><br>

    <select name="exercicio">
        {% for e in exercicios %}
        <option value="{{ e.id }}">{{ e.nome }}</option>
        {% endfor %}
    </select><br><br>

    <input name="series" placeholder="Séries"><br><br>
    <input name="repeticoes" placeholder="Repetições"><br><br>

    <button>Salvar</button>
</form>
</div>

<div class="card">
{% for t in treinos %}
    <div class="tarefa">
        {{ t.aluno.nome }} - {{ t.exercicio.nome }}<br>
        {{ t.series }}x{{ t.repeticoes }}<br><br>

        <a href="/deletar-treino/{{ t.id }}/">❌</a>
    </div>
{% endfor %}
</div>

{% endblock %}